[submodule "orkaevolution"]
	path = compiler
	url = git@cs2-gitlab.cs.fau.de:orka/compiler.git
[submodule "vivado-boards"]
	path = vivado-boards
	url = https://github.com/Digilent/vivado-boards
[submodule "roserebuild"]
	path = roserebuild
	url = git@cs2-gitlab.cs.fau.de:orka/roserebuild.git
[submodule "orkadistrotestenv"]
	path = orkadistrotestenv
	url = git@cs2-gitlab.cs.fau.de:orka/orkadistrotestenv.git
[submodule "vcuboxsetup"]
	path = execEnvSetupVcu118
	url = git@cs2-gitlab.cs.fau.de:orka/vcuboxsetup.git
[submodule "llp_tapasco/tapasco_llp_repo"]
	path = llp_tapasco/tapasco_llp_repo
	url = https://github.com/esa-tu-darmstadt/tapasco.git
[submodule "llp_rrzk/orka-hpc-llp"]
	path = llp_rrzk/rrzk_llp_repo
	url = https://github.com/ORKA-HPC/orka-hpc-llp.git
