[submodule "orkaevolution"]
	path = orkaevolution
	url = git@i2git.cs.fau.de:orka/s2scompiler/orkaevolution.git
[submodule "fpgainfrastructure"]
	path = fpgainfrastructure
	url = git@i2git.cs.fau.de:orka/vivado/fpgainfrastructure.git
[submodule "vivado-boards"]
	path = vivado-boards
	url = https://github.com/Digilent/vivado-boards
[submodule "roserebuild"]
	path = roserebuild
	url = git@i2git.cs.fau.de:personalorka/utilities/roserebuild.git
[submodule "tapasco"]
	path = tapasco
	url = https://github.com/esa-tu-darmstadt/tapasco.git
	branch = develop
[submodule "orkadistrotestenv"]
	path = orkadistrotestenv
	url = git@i2git.cs.fau.de:orka/vagrantfiles/orkadistrotestenv.git
[submodule "vcuboxsetup"]
	path = execEnvSetupVcu118
	url = git@i2git.cs.fau.de:orka/execenvs/vcuboxsetup.git
[submodule "tapasco_llp/tapasco_llp_repo"]
	path = tapasco_llp/tapasco_llp_repo
	url = https://github.com/esa-tu-darmstadt/tapasco.git
[submodule "rrze_llp/rrze_llp_repo"]
	path = llp_rrze/rrze_llp_repo
	url = git@i2git.cs.fau.de:orka/Vivado/fpgaInfrastructure.git
